

*{
box-sizing: border-box;
}
.botao-navegacao{
border: 2px solid;
border-color: black;    
margin-left: 570px;
margin-right: 595px;
border-radius: 50px;
}

body
{
background-color: rgb(85, 158, 158);
}

p
{
text-align: center;
text-decoration-line: overline;
color: white;
}

a
{
text-align: center;
flex: 12px;
text-decoration: none;
color: rgb(255, 255, 255);
}

h1
{
text-align: center;
font-size: 50px;
color: rgb(18, 1, 253);
}
